@import "variables";

body
    font-family: 'Lato';

#login-box
    width: 100%;
    max-width: 450px;
    margin: auto;


.sidebar
    padding: 30px;
    color: #ffffff;
    background: #34495e;
    height: 100vh;
    position: fixed;
    *
        color: #ffffff;
    a
        color: #ffffff;
        text-decoration: none;
        &:hover
            background: none;
        &.is-active
            background: none;
            color: $turquoise;
            
.content-wrapper
    padding: 30px;

.ql-container
    max-height: 300px;
    overflow-y: auto;


.meta-section
    margin: 30px auto;

