@import "variables";

#login-box
    width: 100%;
    max-width: 450px;
    margin: auto;


.sidebar
    padding: 30px;
    color: #ffffff;
    background: #34495e;
    height: 100vh;
    position: fixed;
    *,a,button.is-link
        color: #ffffff;
        text-decoration: none;


.content-wrapper
    padding: 30px;